<section class="photos section has-background-dark">
  <div class="mb-4 pb-2 profile-link has-text-centered">
    <span class="has-text-info-light">
      <%= link_to "flickr.com/photos/#{params[:user_id]}/", profile_photos_page(params[:user_id]), target: :_blank, class: "has-text-link is-size-5-desktop" %>
    </span>
  </div>
  <div class="has-text-centered">
    <% @photos.each_with_index do |photo, index| %>
      <%= link_to image_tag(flickr_source_url(photo), { alt: alt_image_description(index), class: "my-5" }), 
                                      flickr_image_page(photo),
                                      { id: "photo-#{index}", class: "mr-2 photo", target: :_blank }
                                      %>
    <% end %>

  </div>
</section>
