<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title has-text-light">
      <span class="icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </span>
      <%= link_to("Flickr Photosphere", root_url, class: "has-text-light") %>
    </h1>
    <h2 class="subtitle has-text-info-dark is-6">View the public photos of any Flickr profile.</h2>
    <div>
      <%= render 'flickr_id_form' %>

      <% if params[:user_id].present? %>
        <%= render 'photo_results' %>
      <% end %>
    </div>

  </div>
</div>
